<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747369909932-qadc5qfjk1qhctdc4bdl78q4hp0jm3c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747369909932-qadc5qfjk1qhctdc4bdl78q4hp0jm3c5</string>
	<key>API_KEY</key>
	<string>AIzaSyCUgPAOYSoVCVBzhyRq7SvqFOqDn8fB02I</string>
	<key>GCM_SENDER_ID</key>
	<string>747369909932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.fixedwith.auto</string>
	<key>PROJECT_ID</key>
	<string>fixedwith</string>
	<key>STORAGE_BUCKET</key>
	<string>fixedwith.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747369909932:ios:34126e7f503e61a3285909</string>
</dict>
</plist>